body {
  background-color: white;
  margin-left: 10%;
}

p, li, dd, dt, td, th {
  font-family: arial, sans-serif;
  font-size: 12pt;
}

h1, h2, h3, h4, #banner {
  background-color: #006699;
  color: white;
  font-family: arial, sans-serif;
}

h1 {
  font-size: 18pt;
}

#banner {
  font-size: 22pt;
  text-align: center;
}

#logo {
  background-color: white;
  border-top: 2px solid gray;
  margin-top: 5px;
  padding-top: 5px;
}

#symbols {
  border: 3px raised blue;
  padding: 3px;
  width: 90%;
}

#echo-demo label {
  display: block;
}

#echo-demo input {
  width: 90%;
}